@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;400;600;800&display=swap');

#reviewShowFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




    margin: 100px auto;
    padding: 25px;
    
    background-size: cover;
    position: relative;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.702);
    backdrop-filter: blur(100px);

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.5);
}



#textReviewTopic {
    padding-top: 50px;
    padding-left: 10px;
    margin: auto;
    padding: auto;
    color: #3f3f3f;
    font-family: 'Noto Sans Thai';
    font-weight: 800;
    font-size: 25px;
}

#textReviewSubTopic {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin: auto;
    padding: auto;
    color: #3f3f3f;
    font-family: 'Noto Sans Thai';
    font-weight: 800;
    font-size: 16px;
}

.textReviewfieldTable {
    font-family: 'Noto Sans Thai';
}

#textBtInTableReview_checkedPayment {
    font-family: 'Noto Sans Thai';
}



/* หน้าให้คะแนนความพึงพอใจ */

#boxstarFrame {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 700px;
    min-width: 100px;
    width: 100%;
    height: 100%;
    margin: 100px auto;
    padding: 25px;

}

#reviewTextInfoFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 100%;
    height: 100%;
    padding: 50px;


    background-size: cover;
    position: relative;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: #c850c01b;
    backdrop-filter: blur(100px);

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.5);
}

#textInfo_01 {
    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 600;
    font-size: 16px;
}

#textInfo_02 {
    padding-left: 100px;

    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 600;
    font-size: 16px;
}

#textInfo_03 {

    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 600;
    font-size: 16px;
}

#textInfo_04 {
    padding-left: 100px;

    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 600;
    font-size: 16px;
}

#reviewStarFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: 100%;
    /* margin: 100px auto; */
    padding: 50px;

    background-size: cover;
    position: relative;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: #c850c01b;
    backdrop-filter: blur(100px);
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.5);
}

#rating {
    font-size: 8rem;
    align-items: center;
    color: #f9b41e;
}

#textStarTopic {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5%;
    margin: auto;

    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 800;
    font-size: 35px;

}

#textStarSubTopic {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2%;
    padding-bottom: 5%;
    margin: auto;

    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 800;
    font-size: 15px;
}

#textStarComment {
    padding-top: 5%;
    padding-bottom: 2%;
    margin: auto;

    color: #FFFFFF;
    font-family: 'Noto Sans Thai';
    font-weight: 600;
    font-size: 14px;
}

#textStarCommentHelp {
    padding-left: 2%;
    padding-bottom: 2%;
    margin: auto;

    color: #ffffff9e;
    font-family: 'Noto Sans Thai';
    font-weight: 400;
    font-size: 12px;
}


#textfieldComment {
    border: 2px solid #d0cfcf;
    overflow: hidden;
    border-radius: 25px;
    height: 30px;
    background: #fcfcfb;
    padding: 4%;
    font-size: 18px;
    font-family: 'Noto Sans Thai';
}

#textInBt {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans Thai';
}

#textInStep {
    font-family: 'Noto Sans Thai';
}

#accordionConfig {
    
    height: 100%;
    width: 100%;

    margin-top: 5%;
    padding: 50px;

    background-size: cover;
    position: relative;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.702);
    backdrop-filter: blur(100px);

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.5);

}

#textAccordion {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans Thai';
}

#reviewTextIndatetimeFrame {
    height: 100%;
    width: 100%;

    margin-top: 5%;
    padding: 50px;

    background-size: cover;
    position: relative;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.702);
    backdrop-filter: blur(100px);

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.5);
}

#textDatetime {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans Thai';
}

.textCheck {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans Thai';
}

/* page edit  */

#BTpageEditReview {
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans Thai';
}




