.boxshadow {
    box-shadow: 1px 2px 9px #214157;
    background: #00556c;
    margin-top: 6em;
    /* margin-bottom:4em; */
    padding-top: 2em;
}

.mainToptic {
    justify-content: center;
    color: #ffffff;
    text-shadow: #919191;
}

.subToptic {
    justify-content: center;
    color: #ffffff;
    text-shadow: #919191;
}

.titlesReturn {
    text-align: center;
    color: #ffffff;
    text-shadow: #919191;
}

.star {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 190px;
    display: 'flex',

}

.btNext {
    background: #006d8b;
    text-shadow: #919191;


}

.btBack {
    background: #006d8b;
}

.textReview {
    color: #ffffff;
}

.material-icons.orange600 {
    color: #FB8C00;
}