@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body {
    background-image: "https://i.postimg.cc/prct3DRd/1-CTp1sf-WB-70-ZWDj-Hyr-Kf-GQ.webp";
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: "work sans";
    /* height: 100vh ; */
    display: flex;
    flex-direction: column;
    background-size: cover;
    position: relative;
    
}

#signinform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 500px;
    min-width: 300px;
    max-height: 800px;
    width: 30%;
    height: 70%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 25px;
}

#buttonSignInCustomert {
    border-radius: 25px;
    width: 90%;
    height: 40px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}


#buttonGoSignInTeshPage {
    border-radius: 25px;
    width: 90%;
    height: 40px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

#buttonSignInTech{
    border-radius: 25px;
    width: 90%;
    height: 40px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

#buttonGoSignInCustomerPage {
    border-radius: 25px;
    width: 90%;
    height: 40px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}



#alternativeSignUp {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem;
}

#textField {
    padding: 25px;
    width: 90%;
    height: 40px;
}