#appbar {
  width: 100%;
  height: 60px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.6);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#buttonSignOutInAppBar {
  border-radius: 25px;
  width: 8%;
  height: 30px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Noto Sans Thai";
  background: #d81159;
  background: linear-gradient(90deg, #006ba6 0%, #d81159 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#textAppBar {
  font-family: "Noto Sans Thai";
  font-weight: 800;
}

#textDrawer {
  font-family: "Noto Sans Thai";
  font-weight: 600;
}

#drawerApp {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

TextField {
  /* กำหนด CSS property สำหรับ TextField */
  font-size: 20px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

TextField:hover {
  /* กำหนด CSS property เมื่อเมาส์ชี้ไปที่ TextField */
  background-color: #6d2222;
}

TextField:focus {
  /* กำหนด CSS property เมื่อ TextField ได้รับ focus */
  outline: none;
  border-color: #999;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.5);
}

/*TODO ใช้จริงแค่นี้ */
/* TODO Show */
#buttonNext {
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background-color: #4158d0;
  background-image: linear-gradient(
    90deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#buttonBack {
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background-color: #ffffff;

  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#redditTextFields {
  border: 2px solid #d0cfcf;
  overflow: hidden;
  border-radius: 30px;
  height: 30px;
  background: #fcfcfb;
  padding: 4%;
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

#redditTextFields:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

#redditTextFields:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}

/* TODO Create */

#redditTextFieldsCreate {
  border: 2px solid #d0cfcf;
  overflow: hidden;
  border-radius: 30px;
  height: 16px;
  width: 482px;
  background: #fcfcfb;
  padding: 4%;
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

#redditTextFieldsCreate:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

#redditTextFieldsCreate:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}

/* TODO Create comboBox */

#redditTextFieldsCreateCombo {
  border: 2.5px solid #d0cfcf;
  overflow: hidden;
  border-radius: 30px;
  height: 40px;
  width: 150px;
  background: #fcfcfb;
  padding: 4%;
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

#redditTextFieldsCreateCombo:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

#redditTextFieldsCreateCombo:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}

/* TODO Create comboBox Career */

#redditTextFieldsCreateComboCareer {
  border: 2.5px solid #d0cfcf;
  overflow: hidden;
  border-radius: 30px;
  height: 32px;
  width: 265px;
  background: #fcfcfb;
  padding: 4%;
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

#redditTextFieldsCreateComboCareer:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

#redditTextFieldsCreateComboCareer:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}

/* TODO Create Form2 */

#redditTextFieldsCreate2 {
  border: 2px solid #d0cfcf;
  overflow: hidden;
  border-radius: 30px;
  height: 26px;
  width: 482px;
  background: #fcfcfb;
  padding: 4%;
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

#redditTextFieldsCreate2:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

#redditTextFieldsCreate2:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}

/* TODO Show Format number */

#redditTextFieldsCreateNumber {
  border: 2px solid #d0cfcf;
  overflow: hidden;
  border-radius: 30px;
  height: 30.57px;
  width: 300px;
  background: #fcfcfb;
  padding: 4%;
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

#redditTextFieldsCreateNumber:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

#redditTextFieldsCreateNumber:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}

/* TODO textField spacial */

#redditTextFields2 {
  text-align: center;
  font-size: 18px;
  font-family: "Noto Sans Thai";
}

.DeskTopDate {
  border: 4px solid #545353;

  border-radius: 30px;
  height: 60px;
  width: 482px;
  padding: 4%;
}
.MuiPickersStaticWrapper-root .MuiPaper-root {
  border: none;
}

.DeskTopDate:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
}

.DeskTopDate:focus {
  border-color: #1976d2;
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
}
