.RedditTextField-root {
    border: 1px solid #e2e2e1;
    overflow: hidden;
    border-radius: 30px;
    align-content: center;
    transition: border-color, background-color, box-shadow;
  }
  
  .RedditTextField-root .MuiOutlinedInput-input {
    background-color: transparent;
  }
  
  .RedditTextField-root .Mui-focused {
    background-color: transparent;
    box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;
    border-color: #1976d2;
  }
  
  .palette-mode-light .RedditTextField-root {
    background-color: #fcfcfb;
  }
  
  .palette-mode-dark .RedditTextField-root {
    background-color: #2b2b2b;
  }



#appbar {
  width: 100%;
  height: 60px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.6);
  /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}


#buttonSignOutInAppBar {
  border-radius: 25px;
  width: 8%;
  height: 30px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Noto Sans Thai';
  background: #d81159;
  background: linear-gradient(90deg, #006ba6 0%, #d81159 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#textAppBar {
  font-family: 'Noto Sans Thai';
  font-weight: 800;
}

#textDrawer {
  font-family: 'Noto Sans Thai';
  font-weight: 600;
}

#drawerApp {
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

TextField {
    /* กำหนด CSS property สำหรับ TextField */
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
  }
  
  TextField:hover {
    /* กำหนด CSS property เมื่อเมาส์ชี้ไปที่ TextField */
    background-color: #6d2222;
  }
  
  TextField:focus {
    /* กำหนด CSS property เมื่อ TextField ได้รับ focus */
    outline: none;
    border-color: #999;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.5);
  }

/*TODO ใช้จริงแค่นี้ */
#redditTextFields {
    border: 2px solid #d0cfcf;
    overflow: hidden;
    border-radius: 30px;
    height: 30px;
    background: #fcfcfb;
    padding: 4%;
    text-align: center;
    font-size:18px;
    font-family: 'Noto Sans Thai';
    /* height: 20px; */
    /* font-weight: 700; */
}

#redditTextFields:hover{
    /* border: 1px solid #e2e2e1; */
    /* border-color: #000; */
    /* box-shadow:rgb(34, 193, 195) 13%; */
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1px;
    /* box-shadow: rgba(25, 118, 210, 0.8) 0 0 0 3px; */
}

#redditTextFields:focus{
    border-color: #1976d2;
    box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px;

}

#redditTextFields2{
    /* border-radius: 30px;
    border: 2px solid #d0cfcf; */
    text-align: center;
    font-size:18px;
    font-family: 'Noto Sans Thai';
}
  


