@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;400;600;800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#appbar {
  width: 100%;
  height: 60px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  background-size: cover;

  content: "";

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
}
#appdrawer {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  background-size: cover;

  content: "";

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
}


#buttonSignOutInAppBar {
  border-radius: 25px;
  width: 8%;
  height: 30px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Noto Sans Thai';
  background: #d81159;
  background: linear-gradient(90deg, #006ba6 0%, #d81159 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#textAppBar {
  font-family: 'Noto Sans Thai';
  font-weight: 800;
}

#textDrawer {
  font-family: 'Noto Sans Thai';
  font-weight: 600;
}

#drawerApp {
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}