p {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #000;
  }
  .swal2-confirm {
    background-color: #008b1e !important;
  }
  
  .swal2-cancel {
    background-color: #dc0707 !important;
  }
  .bg_tab{
    background-color: linear-gradient(#0071e5, #00c9b1)
  }
